*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
}
:root{
     --primary-color:#fff;
     --secondary-color:rgb(24, 24, 24);
     
     --primary-color:rgb(24, 24, 24);
     --secondary-color:#fff;
}

html, body{
     background-color: var(--primary-color);
}

.themes{
     border: 2px solid var(--secondary-color);
     width: max-content;
     text-align: right;
     margin: 20px;
     padding: 5px;
     border-radius: 15px;
     border: 2px solid var(--secondary-color);
}

.container{
     margin-top: 50px;
     text-align: center;
     padding: 20px;
}
#heading{
     font-size: 40px;
     color: var(--secondary-color);
}
#heading::after{
     content: "";
     position: absolute;
     top:33%;
     left: 50%;
     width: 160px;
     height: 3px;
     background-color: var(--secondary-color);
     transform: translate(-50%);
}
#listId{
     margin-top: 30px;
     padding: 10px 8px;
     border-radius: 7px;
     width: 250px;
     outline: none;
     font-size: 16px;
     color: #000;
}
#addItem{
     /* padding:15px; */
     height: 50px;
     width: 50px;
     border-radius: 50%;
     border: 2px solid var(--secondary-color);
     color: var(--primary-color);
     background-color:var(--secondary-color);
     font-size: 20px;
}
#addItem:hover{
     color: var(--secondary-color);
     background-color: var(--primary-color);
}
.listItems{
     margin: auto;
}
.listCount, ol{
     color: var(--secondary-color);
     margin-left: 15% ;
}
ol {
     font-size: 20px;
     margin:30px 0px 0px 20%; 
}
ol li{
     padding: 10px;
}